{erl_opts, [debug_info,
            {i, ["lib/proc_mobility/include"]}]}.

{require_otp_vsn, "R15"}.
{deps_dir, ["lib"]}.
%% {sub_dirs, ["examples/simple"]}.
%% {erl_opts, [{src_dirs, ["examples/simple"]}]}.
{deps, [
		{misultin, "0.9-dev", {git, "https://github.com/gleber/misultin.git", "master"}},
        {seresye, "0.0.4", {git, "https://github.com/gleber/seresye.git", "master"}},
        {proc_mobility, ".*", {git, "https://github.com/michalwski/proc_mobility.git", "master"}}
       ]}.

