{erl_opts, [debug_info,
            {i, ["lib/proc_mobility/include"]}]}.
{deps_dir, ["lib"]}.
{deps, [
        {cowboy, "0.9.0", {git, "https://github.com/extend/cowboy.git"}},
        {seresye, "0.0.4", {git, "https://github.com/gleber/seresye.git", "master"}},
        {proc_mobility, ".*", {git, "https://github.com/michalwski/proc_mobility.git", "master"}},
        {meck, ".*", {git, "https://github.com/eproxus/meck.git", "master"}}
       ]}.
